################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StemmonsMobile/StemmonsMobile.UWP
/StemmonsMobile/servicebusapi/servicebusapi/obj/Debug
/StemmonsMobile/servicebusapi/servicebusapi/bin/Debug
/StemmonsMobile/StemmonsMobile/bin/Debug
/StemmonsMobile/StemmonsMobile/obj/Debug
/StemmonsMobile/StemmonsMobile.Android/obj/Debug
/StemmonsMobile/StemmonsMobile.DataTypes/obj/Debug
/StemmonsMobile/StemmonsMobile.DataTypes/bin/Debug
/StemmonsMobile/StemmonsMobile.iOS/obj
/StemmonsMobile/StemmonsMobile.iOS/IOS DLL
/StemmonsMobile/StemmonsMobile.iOS/bin
/.vs/StemmonsMobile/v15/Server/sqlite3/db.lock
/StemmonsMobile/StemmonsMobile.Android/bin/Debug
/StemmonsMobile/StemmonsMobile.Android/obj/.cache
/StemmonsMobile/StemmonsMobile.Android/xml
/StemmonsMobile/StemmonsMobile.Android/StemmonsMobile.Android.rar
/StemmonsMobile/StemmonsMobile.rar
/StemmonsMobile/StemmonsMobile.Android/obj
/StemmonsMobile/StemmonsMobile.UWP.rar
/StemmonsMobile/StemmonsMobile.Android/StemmonsMobile.Android123.rar
/StemmonsMobile/StemmonsMobile/Test
/StemmonsMobile/StemmonsMobile.Android/Renderers
*.zip
/StemmonsMobile/servicebusapi/servicebusapi/bin/Release
/StemmonsMobile/StemmonsMobile/bin/Release
/StemmonsMobile/servicebusapi/servicebusapi/obj/Release
*.rar
/StemmonsMobile/StemmonsMobile.Android/bin/Release
/StemmonsMobile/StemmonsMobile.DataTypes/bin/Release
/StemmonsMobile/StemmonsMobile.DataTypes/obj/Release
/StemmonsMobile/StemmonsMobile/obj/Release
/StemmonsMobile/StemmonsMobile/Views/Cases/SelectCaseType.xaml - Copy.cs
/StemmonsMobile/StemmonsMobile/Views/Cases/SelectCaseType - Copy.xaml
